{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>About PCRA</h1>
    <div class="text-end mb-3">
        <a href="#" class="btn btn-outline-secondary btn-sm">Server SSH Access Info</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">HostInfo</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Command</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Traffic</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">CPU USAGE</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Memory USAGE</a>
    </div>
    <article class=" content-section">
        <h2>Models</h2>
        <h3>naming : 모두 단수형으로(urls, models, functions)</h3>
        <ul>
            <li>Server SSH Access Info(SSHInfo) : id, password, ip address => user와 N:N
    <pre>fields : login_id = models.CharField(max_length=20, null=False)
    ip_address = models.GenericIPAddressField(null=False)
    password = models.TextField(null=False)

    user = models.ManyToManyField(User)</pre>
            </li>
            <li>ServerInfo : hostname, ip, os-version, kernel, cpu info, total Memory</li>
            <li>Command: SrvBasic, traffic, etc basic shell command</li>
            <li>CPU USAGE(CpuUsage): cpu 사용량, 1달간, sar(sysstat)</li>
            <li>Memory USAGE(MemoryUsage): Memory 사용량, 1달간, sar(sysstat)</li>
        </ul>
    </article>
    <section>
        <img src="{% static 'pcra-image/pcra-db-models.png' %}" alt="PCRA DB Models" class="img-fluid">
    </section>
{% endblock %}